<body>
  <hr />
  <h3 class="text-center" id="ingresos">Selecciona tipo de listado.</h3>
  <br>

  <div class="ingresos">

    <div class="card card-profile">
      <div class="card-header card-header-image">
        <a routerLink="/IngresosPorEconomico">
          <img class="img" src="assets/img/Resumen.png" />
        </a>
      </div>
      <div><h4 class="card-title">Resumen por tercero.</h4></div>
    </div>

    <div class="card card-profile">
      <div class="card-header card-header-image">
        <a routerLink="/IngresosPorEconomico">
          <img class="img" src="assets/img/DetalleAño1.png" />
        </a>
      </div>
      <div><h4 class="card-title">Detalle por año.</h4></div>
    </div>


  <div class="card card-profile">
    <div class="card-header card-header-image">
      <a routerLink="/IngresosPorEconomico">
        <img class="img" src="assets/img/168-pie-chart-2.png" />
      </a>
    </div>
    <div><h4 class="card-title">Información por económico</h4></div>
  </div>

  <div class="card card-profile">
    <div class="card-header card-header-image">
      <a routerLink="/IngresosPorEconomico">
        <img class="img" src="assets/img/168-pie-chart-2.png" />
      </a>
    </div>
    <div><h4 class="card-title">Información por económico</h4></div>
  </div>

  <div class="card card-profile">
    <div class="card-header card-header-image">
      <a routerLink="/IngresosPorEconomico">
        <img class="img" src="assets/img/168-pie-chart-2.png" />
      </a>
    </div>
    <div><h4 class="card-title">Información por económico</h4></div>
  </div>

  <div class="card card-profile">
    <div class="card-header card-header-image">
      <a routerLink="/IngresosPorEconomico">
        <img class="img" src="assets/img/168-pie-chart-2.png" />
      </a>
    </div>
    <div><h4 class="card-title">Información por económico</h4></div>
  </div>

  </div>

</body>
