:root {
  --fuente-principal: 'Roboto', serif;
  --primario: #da595e;
  --obscuro: #484848;
  --claro: #ffffff;
}

html *{
  -webkit-font-smoothing: antialiased;
}

.contenedor {
  max-width: 70%;
  height: 100vh;
  margin: 0 auto;
  background: linear-gradient(to right, rgba(197,224,235,1) 0%, rgba(144,221,245,1) 54%, rgba(91,172,201,1) 100%);
}

body {
  font-family: var(--fuente-principal);
  max-width: 100%;
  margin: 0 auto;
  background: linear-gradient(to right, rgba(197,224,235,1) 0%, rgba(144,221,245,1) 54%, rgba(97,178,206,1) 100%);
}

/* ID selector */
#indice {
  font-weight: 300 !important;
  margin-top: 10px;
  color: #ca3542;
  font-family: var(--fuente-principal);
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
  justify-content: center;
}

/* Class Selector */
.indice {
  /* border: 10px, solid black; */
  margin-top: 10px;
   margin-right: 10px;
   margin-left: 10px;
   margin-bottom: 10px;
  /* display: grid; */
   /* grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: 240px; */
  /* https://www.udemy.com/css-grid-y-flexbox-la-guia-definitiva-crea-10-proyectos/learn/v4/t/lecture/10276668?start=0 */
  /* grid area */
  /* Grid: row row / columns colums... */
   grid-gap: 2rem;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 240px;
   justify-content: space-evenly;
 }

 /* Tag Selector */
.imgBtn{
  width: 200px;
  height: 160px;
  box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
  }

#logo {
  margin-bottom: 10px;
  width: 345px;
  height: 75px;
  vertical-align: center;
}

  .h1, .h2, .h3, .h4, body, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.5em !important;
  }

  h3 {
    font-weight: 900!important;
    font-size: 35px !important;
    color: red
  }

  h4 {
    font-size: 18px !important;
  }

  h6 {
    font-size: 12px !important;
    text-transform: uppercase;
    font-weight: 500;
  }

  p {
    font-size: 14px;
    margin: 0 0 10px;
    font-weight: 300;
  }

  .card-title{
    font-weight: 700 !important;
    margin-top: 10px;
    color: #3c4858;
    font-family: var(--fuente-principal);
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
  }

  .card {
    border: 0;
    margin-bottom: 3px;
    margin-top: 20px;
    border-radius: 6px !important;
    color: rgba(0,0,0,.87);
    background: #fff;
    width: 100%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }

  .card.card-profile{
    text-align: center;
  }

  .card .card-header.card-header-image {
    position: relative;
    padding: 0;
    z-index: 1;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    max-height: 215px;
  }

  .card .card-header.card-header-image .card-title {
    position: absolute;
    bottom: 5px;
    left: 15px;
    color: #fff;
    font-size: 1.125rem;
    text-shadow: 0 2px 5px rgba(33,33,33,.5);
    font-weight: 700;
    font-family: var(--fuente-principal);;
  }

  .fa {
    padding: 5px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 191px 191px 191px 191px;
    -moz-border-radius: 191px 191px 191px 191px;
    -webkit-border-radius: 191px 191px 191px 191px;
    border: 0px solid #000000;
  }

  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

/* --------------------------------------------------------------------- */
/* https://lenguajecss.com/p/css/propiedades/responsive-design */
@media screen and (max-width: 640px) {

  .contenedor {
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;
    /* background-color: rgb(220, 234, 252); */
    background: linear-gradient(to right, rgba(197,224,235,1) 0%, rgba(144,221,245,1) 54%, rgba(91,172,201,1) 100%);
  }

  .indice {
    border: 10px, solid black;
    margin-top: 0px;
     margin-right: 10px;
     margin-left: 10px;
     margin-bottom: 100px;
     grid-gap: 20rem;
     grid-template-columns: 1fr;
     justify-content: space-evenly;
     /* grid-template-rows: 240px; */
     /* justify-content: center; */
   }

   #indice {
    font-weight: 300 !important;
    margin-top: 2px;
    color: rgb(214, 38, 38);
    font-family: var(--fuente-principal);
    font-size: 18px !important;
  }

  .imgBtn{
    width: 170px;
    height: 80px;
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
    }

  #logo {
    margin-bottom: 10px;
    width: 173px;
    height: 37px;
    vertical-align: center;
  }

  img{
    width: 154px;
    height: 107px;
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
    }

    #titulo {
      font-weight: 200!important;
      font-size: 16px !important;
      color: black;
    }

    #vizContainerResumen {
      max-width: 100%;
    }

    .card {
      border: 0;
      margin-bottom: 43px;
      margin-top: 20px;
      border-radius: 6px !important;
      color: rgba(0,0,0,.87);
      background: #fff;
      width: 65%;
      box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }

}
/* --------------------------------------------------------------------- */

