<footer>
  <div class="row justify-content-center">

    <div class="col-4">
      <p>
        <span>© </span>
        <span>{{ anio }} OCM Jerez. Ver 1.00.00</span>
      </p>
    </div>

    <div class="col-4">
      <a href="https://www.facebook.com/OcmJerez/" target="_blank" rel="nofollow" class="rk-social-btn">
        <svg>
          <use xlink:href="/assets/img/symbols.svg#icon-facebook"></use>
        </svg>
      </a>
      <a href="https://twitter.com/ocmjerez" target="_blank" rel="nofollow" class="rk-social-btn ">
        <svg>
          <use xlink:href="/assets/img/symbols.svg#icon-twitter"></use>
        </svg>
      </a>
    </div>

    <div class="col-4">
      <p>
        <span>Email: </span>
        <span>
          <a href="mailto:info@ocmjerez.org">info@ocmjerez.org</a>
        </span>
      </p>
    </div>
  </div>

  </footer>
